@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
}

.all {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
}

.logoLeft {
    background-color: red;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #1E1F23;
    border: 2px solid #2E2F36;
}

.logoLeft > img {
    width: 80%;
    height: 12%;
}

.home {
    height: 9%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* align-self: flex-start; */
    padding: 0 28px;
    background: #1E1F23;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #2E2F36;
}
.homeText {
    text-align: center;
    /* flex-direction: row; */
    display: flex;
    /* margin-left: 10px;
    position: absolute; */
}

.homeText img{
    max-width:200px;
    max-height:20px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.homeUser {
    display: flex;
    align-items: center;
}

.homeUser > img {
    max-width:42px;
    max-height: 42px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-left: 15px;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 3% 3% 0 3%;
    padding: 16px;
    width: 55vw;
    height: 20vh;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
    top: -0.88rem;
    right: 1rem;
    position: relative;
}

.newPost {
    position: relative;
    display: flex;
}

.sendPost {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 24px;
    width: 49vw;
    height: 37px;
    background: #27282F;
    border-radius: 46px;
    resize: none;
    border: none;
}

.newPost > img {
    position: absolute;
    left: -7%;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.postIcons {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #A1A3A7;
    margin-right: 10px;
}

.icons > img {
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
    margin-right: 20px;
}

.btnPost {
    display: flex;
    padding: 3px 25px;
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: #1E1F23;
    border: 2px solid #27282F;
    border-radius: 8px;
}

.sideBarTop {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 15rem;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
    position: relative;
    top: -9rem;
    right: -2.5rem;
}

.myFriends {
    margin: 5%;
}

.friends::-webkit-scrollbar {
    width: 5px;
    background-color: #1E1F23;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #2E2F36;
}

.friends::-webkit-scrollbar-thumb {
    background-color: #A1A3A7;
    border-radius: 5px;
}

.friends {
    overflow-y: scroll;
    overflow: auto;
    display: flex;

}

.listFriends > li {
    /* width: 100%; */
    flex-direction: row;
    display: flex;
}

.listFriends > li > p {
    /* width: 100%; */
    margin: 7px 0 0 10px;
    font-size: 14px;
}

.listFriends > li > img {
    width: 35px;   
    margin: 0 0 10px 10px;
    height: 35px;
    border-radius: 100%;
}

.oldPost {
    width: 55vw;
    height: 60vh;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
}

.sideBarMiddle {
    display: flex;
    width: 17rem;
    height: 15rem;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
    position: relative;
    top: -17rem;
    /* right: 2.5rem; */
    left: 49.5rem;
}

.sideBarBottom{
    display: flex;
    width: 17rem;
    height: 15rem;
    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;
    position: relative;
    top: -0.5rem;
    left: 32.5rem;
}